<template>
    <div class="action_block">
        <div class="actions">
            <button class="btn btn-info" variant="info" @click.prevent.stop="editUser">Editer</button>
            <button class="btn btn-danger"  @click.prevent.stop="deleteUser">Supprimer</button>
        </div>
    </div>
</template>
<script>
export default {
    props:{
        user: Object,
    },
    data(){
        return {     
        }
    },
    methods:{
        editUser()
        {
            this.$emit("edit", this.user, 'modal-editUser');
        },
        deleteUser()
        {
            this.$emit('delete', this.user);
        }
    }
}
</script>

<style scoped>
.btn{
  padding: .1em 1em;
  background-color: #fefefe;
  border: 1px solid #fefefe;
  margin: 0 1em;
}
.btn-info{
    background-color: #17a2b8;
    border-color: #17a2b8;
    color: #fff;
}

.btn-danger{
    background-color: #f23749;
    border-color: #f23749;
}
</style>
