<template>
  <div>
    <h1 class="mx-auto mb-5 text-center mt-5">Ajouter un utilisateur</h1>
    <b-form @submit.prevent="onSubmit">
        <b-form-group id="input-group-username" label="Identifiant:" label-for="input-username">
            <b-form-input
            id="input-username"
            v-model="form.username"
            required
            placeholder="Entrer votre identifiant"
            ></b-form-input>
        </b-form-group>
        
        <b-form-group id="input-group-last_name" label="Nom:" label-for="input-last_name">
            <b-form-input
            id="input-last_name"
            v-model="form.last_name"
            required
            placeholder="Entrer votre nom"
            ></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-first_name" label="Prénom:" label-for="input-first_name">
            <b-form-input
            id="input-2"
            v-model="form.first_name"
            required
            placeholder="Entrer votre prénom"
            ></b-form-input>
        </b-form-group>
        
        <b-form-group id="input-group-1" label="Email address:" label-for="input-1" description="">
            <b-form-input
            id="input-1"
            v-model="form.email"
            type="email"
            required
            placeholder="Entrer votre adresse email"
            ></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-4">
            <b-form-checkbox v-model="form.is_staff">Personnel ?</b-form-checkbox>
        </b-form-group>
        
        <div class="fill-parent text-center flex space-around ">
            <b-button type="submit" variant="success" class="ml-5 mr-5">Ajouter</b-button>
            <b-button v-if="totalUser>0" variant="danger" class="ml-5 mr-5" @click="back" >Annuler</b-button>
        </div>
    </b-form>
  </div>
</template>

<script>
  export default {
    props:{
      totalUser: Number
    },
    data() {
      return {
        form: {
            username: '',
            last_name: '',
            first_name: '',
            email: '',
            password: 'azertyuiop',
            is_superuser: false,
            is_staff: false,
        },
        show: true
      }
    },
    methods: {
      onSubmit() {
          this.$emit("add", this.form);
      },
      back()
      {
        this.$emit("back")
      }
    }
  }
</script>

<style scoped>
/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.flex{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.btn{
    padding: .5em 4em;
}
.space-around{
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
</style>