<template>
  <div class="container">
    <b-alert
      :show="dismissCountDown"
      dismissible
      :variant="variant"
      @dismissed="dismissCountDown=0"
      @dismiss-count-down="countDownChanged"
    >
      {{ message }}
    </b-alert>

    <!-- <b-button @click="showAlert" variant="info" class="m-1">
      Show alert with count-down timer
    </b-button> -->
  </div>
</template>

<script>
  export default {
    props:{
        message: String,
        variant: {
          type: String,
          default: "success"
        }
    },
    data() {
      return {
        dismissCountDown: 3,
      }
    },
    methods: {
      countDownChanged(dismissCountDown) {
        this.dismissCountDown = dismissCountDown
      },/*
      showAlert() {
        this.dismissCountDown = this.value
      }*/
    },
    watch:{
        dismissCountDown(value)
        {
          this.dismissCountDown = value;
          if(value <=0 ) this.$emit('hide');
        }
    }
  }
</script>

<style scoped>
.container{
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
</style>