<template>
    <b-row>
      <h1 class="mx-auto mb-5">List of Bloggers</h1>
      <b-col md="10" offset-md="1">
        <b-table striped hover :items="bloggers" :fields="blogger_fields"></b-table>
      </b-col>
    </b-row>
</template>

<script>
export default {
  name: 'Bloggers',
  data(){
    return {
      bloggers: [],
      blogger_fields: ['id', 'title', 'body'],
    }
  },
  mounted(){
    this.setBloggers();
  },
  methods:{
    setBloggers()
    {
      this.$customResource.getBloggers().then(response =>{
        this.bloggers = response.data;
      }, response =>{
        console.error(response);
      });
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
