<template>
    <div>
        <b-modal id="modal-confirm"  ref="modal-confirm" hide-footer @hide="close" title="Êtes-vous sûr(e) ?">
            <!-- <div class="d-block text-center" v-if="is_superuser">
                <h3>Nous sommes désolés mais cet utilisateur ne peut être supprimé.</h3>
            </div> -->
            <div class="d-block text-center">
                <h3>Attention la suppression est définitive !<br>Confirmez-vous votre choix ?</h3>
                <p class="user_name">{{ `${user.first_name} ${user.last_name} `}}</p>
            </div>
            <div class="flex">
                <b-button variant="outline-danger" block @click="hideModal">Supprimer</b-button>
                <b-button variant="outline-success" block @click="close">Annuler</b-button>
            </div>
        </b-modal>
    </div>
</template>

<script>
export default {
    props:{
        user: Object
    },
    computed:{
        is_superuser()
        {
            return this.user.is_superuser;
        }
    },
    methods:{
        hideModal(){
            this.$emit("delete", this.user, true);
        },
        close(){
            this.$emit('close', 'modal-confirm')
        }
    }
}
</script>

<style scoped>
/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}
.flex .btn{
    padding: .5em 1em;
    float: 1;
    margin: 0 .5em;
}
h3{
    font-size: 16px;
    font-weight: 600;
    color: #dc3545;
}
.user_name{
    font-weight: 700;
    font-size: 200;
}
</style>