<template>
    <div class="actions">
        <b-modal :id="modalId" ref="modal" hide-footer :title="'Mise à jour: '+ user.username" @hide="hide">
            <form ref="form">

                <b-form-group label="Identifiant" label-for="username-input" invalid-feedback="Username is required">
                    <b-form-input id="username-input" v-model="user.username" required></b-form-input>
                </b-form-group>

                <b-form-group label="Nom" label-for="lastName-input" invalid-feedback="Ce champs est obligatoire !">
                    <b-form-input id="lastName-input" v-model="user.last_name" required></b-form-input>
                </b-form-group>

                <b-form-group label="Prénom" label-for="firstName-input" invalid-feedback="Username is required">
                    <b-form-input id="firstName-input" v-model="user.first_name" required></b-form-input>
                </b-form-group>

                <b-form-group label="Email" label-for="email-input">
                    <b-form-input type="email" id="email-input" v-model="user.email"></b-form-input>
                </b-form-group>

                <!-- <b-form-group label="" label-for="superuser-input">
                    <b-form-checkbox id="superuser-input" v-model="user.is_superuser" name="user_superuser">Is SuperUser</b-form-checkbox>
                </b-form-group> -->

                <b-form-group label="" label-for="staff-input">
                    <b-form-checkbox id="staff-input" v-model="user.is_staff" name="user_staff">Personnel ?</b-form-checkbox>
                </b-form-group>

            </form>
            <div class="flex">
                <b-button variant="outline-success" block @click="submit">Valider</b-button>
                <b-button variant="outline-danger" block @click="hide">Annuler</b-button>
            </div>
        </b-modal>
  </div>
</template>

<script>
export default {
    props:{
        user: Object,
    },
    data(){
        return {
            editing: false,
            modalId: "modal-editUser",
      //      userLocal: Object.assign(this.value),
        }
    },
    methods:{
        hide()
        {
            this.$emit('hide', this.modalId);
        },
        submit()
        {
            this.$emit('update', this.user, this.modalId);
        }
    },
}
</script>

<style scoped>
/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}
.flex .btn{
    padding: .5em 1em;
    float: 1;
    margin: 0 .5em;
}
</style>