<template>
    <b-row>
      <h1 class="mx-auto mb-5">{{ msg }}</h1>
      <b-col md="10" offset-md="1">
        <b-table striped hover :items="users" :fields="user_fields"></b-table>
      </b-col>
    </b-row>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String,
  },
  data(){
    return {
      users: [],
      bloggers: [],
      user_fields: ['username', 'password', 'email', 'is_superuser', 'is_staff'],
      blogger_fields: ['id', 'title', 'body'],
    }
  },
  mounted(){
    this.setUsers();
    this.setBloggers();
    
  },
  methods:{
    setUsers()
    {
      this.$customResource.get({app: 'users'}).then(response=>{
        this.users = response.data;
      }, response =>{
        console.error(response);
      });
      //this.users = axios.get();
    },
    setBloggers()
    {
      this.$customResource.query({app: 'bloggers'}).then(response =>{
        this.bloggers = response.data;
      }, response =>{
        console.error(response);
      });
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
