<template>
    <b-row>
      <div v-if="creatingUser" class="fill-parent">
        <AddUser @add="addUser" :totalUser="totalUser" @back="backFromCreatingUser"></AddUser>
        <Loader :show="loader"></Loader>
      </div>
      <div v-if="user && !creatingUser" class="fill-parent">
        <h1 class="mx-auto mb-5 text-center mt-5">Liste des utilisateurs</h1>
        <b-col>
          <table role="table" aria-busy="false" aria-colcount="5" class="table b-table table-striped table-hover" id="__BVID__28">
            <thead role="rowgroup" class="">
              <tr role="row" class="">
                <th v-for="(column, index) in columns" :key="index" role="columnheader" scope="col" tabindex="0" aria-colindex="1">{{column}}</th>
                <th role="columnheader" scope="col" tabindex="0" aria-colindex="1"></th>
              </tr>
            </thead>
            <tbody role="rowgroup">
              <tr v-for="(currentUser, index) in users" :key="index" role="row" class="table_row" :class="{cliquable: !currentUser.is_superuser}">
                <td aria-colindex="1" role="cell" class="">{{currentUser.username}}</td>
                <td aria-colindex="1" role="cell" class="">{{currentUser.last_name}}</td>
                <td aria-colindex="1" role="cell" class="">{{currentUser.first_name}}</td>
                <td aria-colindex="1" role="cell" class="">{{currentUser.email}}</td>
                <td aria-colindex="1" role="cell" class="">{{currentUser.is_superuser}}</td>
                <td aria-colindex="1" role="cell" class="">{{currentUser.is_staff}}</td>
                <td class="action_block"><Actions v-if="!currentUser.is_superuser" :user="currentUser" @edit="edit" @delete="deleteUser"></Actions></td>
              </tr>
            </tbody>
          </table>
        </b-col>
        <EditUser :user="user" @hide="closeModal" @update="updateUser"></EditUser>
        <ConfirmDelete @delete="deleteUser" :user="user" @close="closeModal"></ConfirmDelete>
        <button @click="creatingUser=true" class="btn btn-success">Ajouter un utilisateur</button>
      </div>
      <Alert v-if="showAlert"  :variant="alertVariant" :message="messageAlert" @hide="hideAlert"></Alert>
    </b-row>
</template>

<script>
import Actions from './Actions'
import EditUser from './EditUser'
import ConfirmDelete from './ConfirmDelete'
import Alert from './Alert'
import AddUser from './AddUser'
import Loader from './Loader'
export default {
  name: 'Users',
  components:{
    Actions,
    EditUser,
    ConfirmDelete,
    Alert,
    AddUser,
    Loader,
  },
  data(){
    return {
      showAlert: false,
      loader: false,
      editing: false,
      creatingUser: false,
      users: [],
      user: null,
      columns: ["Identifiant", "Nom", "Prénom", "Adresse e-mail", "Administrateur", "Personnel"],
      user_fields: [
        {
          key: 'username',
          sortable: true,
          label: "Identifiant"
        },
        {
          key: 'last_name',
          sortable: true,
          label: "Nom"
        },
        {
          key: 'first_name',
          sortable: true,
          label: "Prénom"
        },
        {
          key: 'email',
          sortable: false,
          label: "Adresse e-mail"
        },
        {
          key: 'is_superuser',
          sortable: false,
          label: "Administrateur"
        },
        {
          key: 'is_staff',
          sortable: false,
          label: "Personnel"
        },
      ],
      messageAlert: '',
      alertVariant: "success"
    }
  },
  computed:{
    totalUser(){
      return this.users.length;
    }
  },
  methods:{
    setUsers()
    {
      if(!this.editing)
      {
        this.$customResource.getUsers({}).then(response=>{
          this.users = response.data;
          this.user = this.users[0]; // Temporary user
        }, response =>{
          console.error(response);
        });  
      }
    },
    edit(user, id)
    {
      this.editing = true;
      this.user = user;
      this.$bvModal.show(id);
    },
    hideAlert(){
      this.showAlert = false;
    },
    backFromCreatingUser()
    {
      this.creatingUser = false;
    },
    closeModal(id)
    {
      this.editing = false;
      this.$bvModal.hide(id);
    },
    addUser(user)
    {
      this.user = user;
      // TODO DISPLAYING ALERT MESSAGE
      this.$customResource.postUser(
        {id: user.id},
        user
      ).then(response=>{
        this.messageAlert = `l'utilisateur ${user.username} a été créé avec succès . ${response.body}`
        this.loader = true;
        //setTimeout(()=>{ 
        this.setUsers();
        this.creatingUser = false;
        //},3000);
      }, response =>{
        this.loader = true;
        this.alertVariant = "danger"
        this.messageAlert = `Impossible de créér l'utilisateur ${user.username}. ` 
        response.ok
      }).then(()=>{
        this.showAlert = true;
        this.loader = false;
      });
    },
    updateUser(user, modalId)
    {
      this.closeModal(modalId);
      this.$customResource.updateUser(
        {id: user.id},
        this.user
      ).then(response=>{
        this.messageAlert = `Les données de ${user.username} ont été mises  jour avec succès!`;
        this.showAlert = true;
        response.ok
      }, response =>{
        this.alertVariant = "danger";
        this.messageAlert = `Nous n'avons pas pu mettre jour  les données de ${user.username}!`;
        this.showAlert = true;
        console.error(response)
      })
    },
    deleteUser(user, confirm=false)
    {
      this.editing = true;
      if(confirm)
      {
        this.$customResource.deleteUser({id: user.id}).then(response=>{
          this.showAlert = true;
          this.users = this.users.filter(u => u!= user);
          this.messageAlert = `L'utilisateur ${user.username} a été supprimé avec succès! ${response.body}`
        }, response =>{
          this.showAlert = true;
          this.messageAlert = `Error lors de la suppression de l'utilisateur ${user.username}. ${response.body}`
        })
        this.$bvModal.hide('modal-confirm');
      } 
      else{
        this.user = user;
        this.$bvModal.show('modal-confirm');
      } 
    }
  },
  watch:
  {
    users(value)
    {
      this.users = value;
      if( this.users.length === 0)
      {
        this.creatingUser = true;
      }
    }
  },
  mounted(){
      window.setInterval(()=>
      {
        if(this.editing === false) this.setUsers();
      }, 5000);
    if(this.users.length === 0) this.setUsers();
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */


.fill-parent{
  width: 100%;
}
.text-center{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.table_row{
  position: relative;
}
.cliquable{cursor: pointer;}
.table_row td{
  height: 50px;
}
.cliquable:hover td{
  background: rgba(215, 205, 205, 0.5);
}
.cliquable:hover td:not(:last-child){
  /* opacity: .1; */
  color: #9d9d9d;
}
.cliquable:hover td:last-child{
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 15px;
  right: 15px;
  padding: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: auto;
}
.action_block{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.action_block .actions{
  display: none;
}
.table_row:hover .action_block .actions{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.table_row:hover .options .actions{opacity: 1;}
</style>
