<template>
  <div id="app" class="container">
    <Users/>
    <!-- <Bloggers/> -->
  </div>
</template>

<script>
//import HelloWorld from './components/HelloWorld.vue'
import Users from './components/Users.vue'
// import Bloggers from './components/Bloggers.vue'

export default {
  name: 'App',
  components: {
    Users,
    // Bloggers,
  },
  mounted(){
    this.$customResource = this.$resource('{app}{/id}');
  }
}
</script>

<style>

</style>
